$light: #ffffff;
$lighter: rgba($color: $light, $alpha: 0.8);
$darker: #000000;

$first: #5BC0EB;
$second: #FDE74C;
$third: #9BC53D;
$fourth: #C3423F;
$fifth: #404E4D;

$stage1: #9BC53D;
$stage2: #5BC0EB;
$stage3: #EF3F36;
$stage4: #92278F;
$stage5: #FFFFFF;

$facebook: #1877F2;
$instagram: linear-gradient(49.2deg, #f9ed32 10%, #ee2a7b 55%, #002aff)