@import "../styles/utils/variables.scss";
@import "../styles/utils/mixins.scss";
@import "../styles/utils/keyframes.scss";

.Banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.Banner--home {
  margin-bottom: 50px;

  .Banner__image {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 13rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    max-width: 700px;
    max-height: 500px;

    .Banner__title {
      width: 60%;
      opacity: 1;
    }

    .Banner__logo {
      position: relative;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      z-index: 100;
      animation: bounceLogo .5s ease-out;
    }
  }

  @media screen and (min-width:450px) and (max-width: 600px) {
    .Banner__image {
      top: 4rem;
    }
  }

  @media screen and (max-width: 449px) {
    .Banner__image {
      top: 4rem;
    }
  }
}