@import "../styles/utils/variables.scss";
@import "../styles/utils/mixins.scss";

.Layout {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    @include background-blur;

    &::after {
        content: "";
        flex-grow: 1;
    }

    &__Footer {
        order: 1;
    }

    &--notFound {
        height: 100vh;
    }
}