@import "../styles/utils/variables.scss";
@import "../styles/utils/mixins.scss";

.Navbar {
    display: flex;
    flex-direction: row;
    order: 1;
    margin-right: 0;
    align-items: center;

    &__menu {
        display: flex;
        align-items: center;
    }

    &__list {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 360px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__item {
        font-size: 20px;
        font-weight: 600;
        color: $darker;
        text-transform: none;
        @include font($font-weight: 600);
        font-size: 20px;

        &:hover {
            scale: 1.1;
            color: $fourth;
        }

        a {
            text-transform: uppercase;
        }
    }

}

.menuBtn {
    display: none;
}

@media screen and (max-width: 1000px) {
    .Navbar__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0;
        text-align: center;
        opacity: 1;
        position: absolute;
        z-index: -200;
        overflow: hidden;
        top: 6rem;
        right: 0;
        height: calc(100vh - 6.5rem);
        max-width: 400px;
        width: 100%;
        padding: 30px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        transform: scaleX(0);
        transform-origin: 100% -50%;
        transition: all 0.3s ease-in-out;

        .Navbar__item {
            font-size: 1.5rem;
            @include font($font-weight: 600, $letter-spacing: 10px);
        }

        &--open {
            background-color: $lighter;
            opacity: 1;
            transform: scaleX(100%)
        }

    }

    .menuBtn {
        display: flex;
        font-size: 1.5rem;
        color: var(--title-color);
        cursor: pointer;
    }
}