@import "./styles/reset";
@import "./styles/utils/variables.scss";
@import "./styles/utils/mixins.scss";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(src/assets/pictures/background.jpg);
}